<nav class="main-navbar">

  <a class="tabButton active"
     data-tab="home"
     href="/"
     data-spa="1"
     data-i18n="nav.home">
     Home
  </a>

<a class="tabButton"
   data-tab="revolution"
   href="/#revolution"
   data-spa="1"
   data-i18n="nav.revolution">
   Bitcoin Revolution
</a>


  <a class="tabButton" data-tab="network" href="/#network" data-spa="1" data-i18n="nav.network">Bitcoin Network</a>
  <a class="tabButton" data-tab="metrics" href="/#metrics" data-spa="1" data-i18n="nav.metrics">Metrics</a>
  <a class="tabButton" data-tab="review" href="/#review" data-spa="1" data-i18n="nav.review">Review</a>
  <a class="tabButton" data-tab="explorer" href="/#explorer" data-spa="1" data-i18n="nav.explorer">Explorer</a>
  <a class="tabButton" data-tab="treasuries" href="/#treasuries" data-spa="1" data-i18n="nav.treasuries">Bitcoin Treasuries</a>
  <a class="tabButton" data-tab="market_cap" href="/#market_cap" data-spa="1" data-i18n="nav.marketcap">Market Capitalization</a>
  <a class="tabButton" data-tab="indicators" href="/#indicators" data-spa="1" data-i18n="nav.indicators">Indicators</a>
  <a class="tabButton" data-tab="info" href="/#info" data-spa="1" data-i18n="nav.info">Info</a>

</nav>
